<!DOCTYPE html>
<html>
<body>
<h1>Something went wrong! </h1>
<h2>Our Extra Qualified Engineers are on it</h2>
<p>
    Go to: <span style='font-family:monospace; font-weight:bold;'><a href="/h2-console">/h2-console</a></span> for db access.<br><br>
    Go to <span style='font-family:monospace; font-weight:bold;'><a href="/components">/components</a></span> for PCcomponent API<br>
    Use <span style='font-family:monospace; font-weight:bold;'><a href="/component/1">/component/id</a></span> for specific component.
</p>
</body>
</html>